.a{
	background-image:url('imgsr/1.webp');
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 1000px;
	margin: 0px 150px;
}
.a1{
	padding: 200px 200px 0px 200px;
}
h3{
	color: skyblue;
}
/*.row_container{
	padding: 200px 200px 0px 200px;
}*/
#b{
	position: relative;
	bottom: 60px;
	right: 1px;
}
hr{
	margin-left: 600px;
	height:2px;

}
#d{
	height: 400px;
}
i{
	font-size: 50px;
	color: lightskyblue;
}
#i1{
	color: darkblue;
}
#i2{
	color: orange;
}
#i3{
	color: green;
}
#e{
	color: whitesmoke;
}
img{
	height: 200px ;
}
#i4{
	font-size: 20px;
	display: inline;
}
#p{
	height: 50px;
	width: 80px;
}
#p1{
	background-color: bisque;
}
#p2{
	color: darkblue;
	size: 40px;
}
#pri{
	font-size: 20px;
	color: darkblue;
}

